[Unit]
Description=dde-clipboard-daemon

Wants=dde-session-daemon.target
After=dde-session-daemon.target

[Service]
Type=dbus
BusName=com.deepin.daemon.Clipboard
ExecStart=/usr/bin/dde-clipboard-daemon
TimeoutStartSec=infinity
Slice=components.slice

[Install]
WantedBy=dde-session-daemon.target