Source: dde-clipboard
Section: admin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 8.0.0),
 pkg-config,
 libx11-dev,
 cmake,
 qtdeclarative5-dev,
 libqt5svg5-dev,
 libdtkcore-dev,
 libdtkwidget-dev,
 libdtkgui-dev,
 libdframeworkdbus-dev,
 libgsettings-qt-dev,
 qttools5-dev-tools,
 clang [amd64],
 deepin-desktop-base | deepin-desktop-server | deepin-desktop-device,
 libdde-network-utils-dev,
 libdtkcore5-bin,
 libkf5networkmanagerqt-dev,
 qtbase5-private-dev,
 libxrandr-dev,
 libmtdev-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libxcb-ewmh-dev,
 libgio-qt-dev,
 libdframeworkdbus-dev,
 libgtest-dev
Standards-Version: 3.9.5
Homepage: https://github.com/linuxdeepin/dde-clipboard

Package: dde-clipboard
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${dist:Depends},
 dde-daemon (>=5.12.0.31),
 startdde (>=5.6.0.34),
 dde-api (>=2.92.1),
 libdframeworkdbus2 (>=5.3.0.24)
Recommends: netselect, deepin-ab-recovery
Suggests: redshift
Description: deepin desktop-environment - clipboard module
 Clipboard module of deepin desktop-environment
